@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mali:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mali', cursive;
}
.search-box input{
  border: none;
  height: 25px;
  border-radius: 5px;
}
.my-card img{
height: 300px;
width: 100%;
object-fit: cover;
}
.my-card{
  background-color: #f9f9f9;
  padding: 5px;
}