@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mali:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mali', cursive;
}
.search-box input{
  border: none;
  height: 25px;
  border-radius: 5px;
}
.my-card img{
height: 300px;
width: 100%;
object-fit: cover;
}
.my-card{
  background-color: #f9f9f9;
  padding: 5px;
}
.MuiButtonBase-root-MuiButton-root{
  font-family: 'Mali';
}
.number-cart{
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  top: 0px;
  right: -5px;
}
.list-cart{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a9a9a9;
}
.list-cart img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.quantity{
  border: none;
}